<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Storage</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/storage</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>HomeProductServlet</servlet-name>
    <servlet-class>Controller.productview.HomeProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SingleProductServlet</servlet-name>
    <servlet-class>Controller.productview.SingleProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestProduct</servlet-name>
    <servlet-class>Controller.testing.TestProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductShowServlet</servlet-name>
    <servlet-class>Controller.productview.ProductShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.registration.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Controller.registration.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Controller.registration.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EventShowServlet</servlet-name>
    <servlet-class>Controller.eventsview.EventShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Controller.productview.SearchServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>Controller.productview.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeProductServlet</servlet-name>
    <url-pattern>/productHome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SingleProductServlet</servlet-name>
    <url-pattern>/singleProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductShowServlet</servlet-name>
    <url-pattern>/productShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventShowServlet</servlet-name>
    <url-pattern>/events</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartservlet</url-pattern>
  </servlet-mapping>
  
</web-app>